.navbar-inverse{  
    background:#222; 
    height: 50px;
	word-wrap: break-word;
}
.navbar-brand {
    color: #9d9d9d;
    font-size: 25px;
    float: left ;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
.navbar-brand:hover {
    color: white;
    border-radius: 25px;
	word-wrap: break-word;
}
.navbar-form-group{
    color: white;
    float: right ;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}  
.navbar-btn-success{
    color: white;
    background-color: green;
    float: right ;
    border-radius: 25px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
.main-inverse{
    color: black;
    background:grey;
    height: 200px;
word-wrap: break-word;
}
@media (min-width: 1200px) {
h1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
word-wrap: break-word; 
font-size: 63px;
}
h2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
	word-wrap: break-word;
}

.main-btn-success{
    color: white;
    background-color: blue;
    font-size: 15px;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
table{
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}

   h3 {
    font-size: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
h4 {
    font-size: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
   h5 {
    font-size: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	word-wrap: break-word;
}
hr {
    border: none; 
    background-color: black; 
    color: black;
    height: 2px; }
.vv-btn-success{
    color: black;
    background-color: white;
    font-size: 15px;
    border-radius: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	word-wrap: break-word;
    margin-left: auto;
}
}
